<% if flash[:failed_invites] %>
    <ul class="box-gray border-2 border-red pl-2 pb-2">
        <% flash[:failed_invites].each do |name| %>
            <li class="list-disc ml-5"><%= name %></li>
        <% end %>
    </ul>
<% end %>