<ul>
    <% @received_invites.each do |invite| %>
        <li class="box-gray w-fit p-2 mb-4">
            <%= invite.event.name %>
            <%= "from #{invite.inviter.name}" %>
            <br>
            <%= render "accept_decline", invite: invite %>
        </li>
    <% end %>
</ul>