<ul>
    <% @received_invites.each do |invite| %>
        <li>
            <%= invite.event.name %>
            <%= "from #{invite.inviter.name}" %>
            <br>
            <%= render "invite_accept_decline", invite: invite %>
        </li>
    <% end %>
</ul>