<% if @received_invites.any? %>
    <h1>You have <%= pluralize(@received_invites.count, "Invite") %>:</h1>
    <%= render "received_invites", received_invites: @received_invites %>
<% else %>
    <h1>You don't have any invites right now!</h1>
<% end %>

