<div class="flex justify-between items-center">
    <h1>Upcoming Events</h1>
    <%= link_to "Create an Event", new_event_path, class: "btn btn-blue" %>
</div>
<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    <%= render @events.future %>
</ul>

<h2>Past Events</h2>
<ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10">
    <%= render @events.past %>
</ul>