<h1>Create a New Event:</h1>
<p>Required fields are marked with <abbr title="required">*:</abbr></p>

<div class="w-1/2 min-w-fit">
    <%= render "errors", event: @event %>
    
    <%= render "form", event: @event %>
</div>