@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-gray: #4B5563; /* gray-600 */
    --dark-gray: #1F2937; /* gray-800 */
    --white: #ffffff; 
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 { 
    @apply text-xl font-semibold;
  }

  h1, h2, h3 {
    @apply py-2;
  }
}

@layer components {
  .navbar {
   
  }

  .container {
    @apply mx-auto px-16;
  }
}

