@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-gray: #4B5563; /* gray-600 */
    --gray: #374151; /* gray-700 */
    --dark-gray: #1F2937; /* gray-800 */
    --white: #ffffff; 
    --black: #000000;
    --red: #DC2626; /* red-600 */
    --dark-red: #991B1B; /* red-800 */

    --blue: #3B82F6; /* blue-500 */
  }
  html, body {
    @apply h-full m-0
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 { 
    @apply text-xl font-semibold;
  }

  h1, h2, h3 {
    @apply py-2;
  }
}

@layer components {
  /* Navbar */
  .navbar {
    @apply bg-light-gray text-lg font-medium p-2 
  }
  .navbar a,
  .navbar button {
    @apply inline-block hover:scale-105;
  }
  .navbar li {
    @apply pl-3;
  }

  .container {
    @apply mx-auto px-16;
  }

  /* Buttons (/Links) */
  .btn {
    @apply border rounded cursor-pointer px-4 py-1 font-semibold
      text-white border-white
      ease-linear transition-all duration-150;
  }
  .btn-gray {
    @apply bg-dark-gray 
      hover:bg-white hover:text-dark-gray
  }
  .btn-red {
    @apply bg-red
      hover:bg-dark-red 
  }
  .btn-blue {
    @apply bg-blue 
      hover:bg-white hover:text-blue
  }
}

